:root {
    --ThemeVariant: Light;

    /* Primary Color */
    --MaterialPrimaryLightBrush: #FFCE93D8;
    --MaterialPrimaryLightForegroundBrush: #FF000000;
    --MaterialPrimaryMidBrush: #FF9E28B3;
    --MaterialPrimaryMidForegroundBrush: #FFFFFFFF;
    --MaterialPrimaryDarkBrush: #FF6A1B9A;
    --MaterialPrimaryDarkForegroundBrush: #FFFFFFFF;
    --MaterialPrimaryForegroundBrush: #FFFFFFFF;

    /* Secondary Color */
    --MaterialSecondaryLightBrush: #FF81D4FA;
    --MaterialSecondaryLightForegroundBrush: #FF000000;
    --MaterialSecondaryMidBrush: #FF0288D1;
    --MaterialSecondaryMidForegroundBrush: #FFFFFFFF;
    --MaterialSecondaryDarkBrush: #FF01579B;
    --MaterialSecondaryDarkForegroundBrush: #FFFFFFFF;

    /* Validation */
    --MaterialValidationErrorBrush: #FFF44336;

    /* Backgrounds */
    --MaterialBackgroundBrush: #FFFFFFFF;
    --MaterialPaperBrush: #FFFAFAFA;
    --MaterialCardBackgroundBrush: #FFFFFFFF;
    --MaterialToolBarBackgroundBrush: #FFF5F5F5;
    --MaterialToolTipBackgroundBrush: #FF757575;
    --MaterialTextFieldBoxBackgroundBrush: #0F000000;

    /* Foregrounds */
    --MaterialBodyBrush: #DD000000;
    --MaterialBodyLightBrush: #89000000;
    --MaterialColumnHeaderBrush: #BC000000;
    --MaterialDividerBrush: #1F000000;

    /* Feedbacks */
    --MaterialCheckBoxOffBrush: #89000000;
    --MaterialCheckBoxDisabledBrush: #FFBDBDBD;
    --MaterialSelectionBrush: #FFDEDEDE;
    --MaterialTextFieldBoxHoverBackgroundBrush: #14000000;
    --MaterialTextFieldBoxDisabledBackgroundBrush: #08000000;
    --MaterialDataGridRowHoverBackgroundBrush: #0A000000;

    /* Misc */
    --MaterialChipBackgroundBrush: #12000000;
    --MaterialFlatButtonClickBrush: #FFDEDEDE;
    --MaterialFlatButtonRippleBrush: #FFB6B6B6;
    --MaterialSnackbarBackgroundBrush: #FF323232;
    --MaterialSnackbarMouseOverBrush: #FF464642;
    --MaterialSnackbarRippleBrush: #FFB6B6B6;

    /* Unknown state */
    --MaterialTextBoxBorderBrush: #89000000;
    --MaterialTextAreaBorderBrush: #BC000000;
    --MaterialTextAreaInactiveBorderBrush: #0F000000;
}
