[Desktop Entry]
Name=SimLab
Comment=Telemetry and dashboard tool for sim racing games with live overlays, data capture, and session analysis.
Exec=SimLab
Icon=io.github.radekbocon.SimLab
Type=Application
Categories=Utility;
Terminal=false
StartupNotify=true
